<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1>Administrador de bancos</h1>
    <table bgcolor="#9B655A" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

        <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Cadena mundiales</th>
        <th>Años</th>
        </tr>
        <tr>
        <td  valign="middle" align="left">111111111111111111111111111111111</td>
        <td>Aztequita</td>
        <td>Mexico. El salvador</td>
        <th>1994</th>
        </tr>
        <tr>
        <td  valign="middle" align="left">1baal1jkanbs</td>
        <td>Agricola</td>
        <td>Costa RIca. El salvador</td>
        <th>2001</th>
        </tr>
        <tr>
            <td  valign="middle" align="left">1baal1jkanbs</td>
            <td>Guardamos su money</td>
            <td>. El salvador</td>
            <th>2001</th>
            </tr>
        </table>
        <div></div>
        <br>
    <button type="button" class="btn btn-default" aria-label="Left Align">Agregar<span><i class="fas fa-save"></i></span></button>
    <button type="button" class="btn btn-default" aria-label="Left Align">Eliminar<i class="fas fa-user-minus"></i></button>
    <button type="button" class="btn btn-default" aria-label="Left Align">Modificar<i class="fas fa-pen-alt"></i></button>

</body>
</html>